---
---

<div class="header-wrapper">
  <section class="hero landing-page">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <span class="label-style-light">Facund Fortuny</span>
        </h1>
        <h2 class="subtitle">
          <span class="label-style-light">Lead Frontend Engineer & Head of Product</span>
        </h2>
      </div>
    </div>
  </section>
</div>

<style>
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }

  .hero-body {
    display: flex;
    align-items: center;
    padding: 3rem 1.5rem;
    flex-grow: 1;
  }

  .label-style-light {
    background-color: #cdf2e2;
    color: black;
    padding: 0 10px;
  }

  .title {
    color: white;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.125;
    margin: 0 0 1rem;
  }

  .subtitle {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
  }

  @media (max-width: 768px) {
    .subtitle {
      font-size: 2rem;
    }
  }

  @media (max-width: 481px) {
    .title {
      font-size: 2rem;
    }
    .subtitle {
      font-size: 1.25rem;
    }
  }
</style>
