// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';


@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-green-light {
  border-bottom: 5px solid $primary-color;
}

.underline-green {
  border-bottom: 5px solid $secondary-color;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  background-color: $primary-color;
  a {
    color: black;
    padding: 15px;
  }
  a:hover {
    color: $secondary-color;
  }
}
