*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
}

figure {
  margin: 0;
}

.container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  padding: 3rem 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-green-light {
  border-bottom: 5px solid #CDF2E2;
}

.underline-green {
  border-bottom: 5px solid #59845C;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  background-color: #CDF2E2;
  a {
    color: black;
    padding: 15px;
  }
  a:hover {
    color: #59845C;
  }
}
